# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python Virtual Environment
.venv/
venv/
env/

# Python Cache (Those annoying compiled files)
__pycache__/
*.pyc
*.pyo

# DeepFace AI Cache (Stops the ghost student issue for collaborators)
*.pkl

# Environment Variables (Hide your MongoDB password!)
.env

# Data Folders
# We ignore everything inside temp/
data/temp/*
# We ignore the actual photos in known_face/ to protect student privacy
data/known_face/*
# BUT we make an exception for the .gitkeep file so the folder itself uploads
!data/known_face/.gitkeep
